<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="item.name" class="form-control" id="name" placeholder="Item name" required/>
    </div>
</div>

<div class="form-group">
    <label for="value" class="col-sm-2 control-label">Value</label>
    <div class="col-sm-10">
        <input type="number" ng-model="item.value" class="form-control" id="value" placeholder="Item value" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
    </div>
</div>

<div class="form-group">
    <label for="imageFile" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
        <input type="file" id="file" name="imageFile" placeholder="Image representing the item"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
