<h3>Lists</h3>

<div class="">
	<button ui-sref="addList" class="btn btn-success btn-margin">Add</button>
    <input type="text" class="form-control fluid-col" placeholder="Search" ng-model="searchAll">
</div>
<div class="table-responsive">
	<img src="images/spinner-small.gif" ng-show="loading"/>

    <table class="table" ng-show="!loading">
        <th>Name</th>
        <th>Actions</th>

        <tr ng-repeat="item in allLists | filter:searchAll">
            <td>{{item.name}}</td>
            <td>
                <button class="btn btn-primary glyphicon glyphicon-edit" ui-sref="viewList({id: item.id})" tooltip="Edit or view details"></button>
                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="delete(item)" tooltip="Remove"></button>
            </td>
        </tr>
    </table>
</div>
