<h3>Edit List</h3>

<form class="form-horizontal" role="form" ng-submit="editList()">
    <div ng-include="'views/_list-form.html'"></div>
</form>

<h4>Items</h4>

<button ui-sref="addItem({listId: list.id})" class="btn btn-success btn-margin">Add</button>

<div class="table-responsive">
	<img src="images/spinner-small.gif" ng-show="loading"/>

    <table class="table" ng-show="!loading">
        <th>Marked</th>
        <th>Image</th>
        <th>Name</th>
        <th>Value</th>
        <th>Actions</th>

        <tr ng-repeat="item in allItems">
            <td><input type="checkbox" ng-model="item.marked" ng-click="mark(item)"/></td>
            <td><img src="data:image/jpeg;base64,{{item.image}}" ng-show="item.image"/></td>
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
            <td>
                <button class="btn btn-primary glyphicon glyphicon-edit" ui-sref="editItem({id: item.id, listId: list.id})" tooltip="Edit or view details"></button>
                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="delete(item)" tooltip="Remove"></button>
            </td>
        </tr>
    </table>
</div>

<span style="font-weight: bold">Total: {{total}}</span>