<div class="modal-header">
    <img class="error-modal-icon" src="../images/error-icon.jpg"/>
    <h3 class="modal-title">Redigite as senhas</h3>
</div>
<div class="modal-body">
    As senhas digitadas estão diferentes.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
