<div class="modal-header">
    <img class="error-modal-icon" src="images/error-icon.jpg"/>
    <h3 class="modal-title">Ocorreu um erro não previsto!</h3>
</div>
<div class="modal-body">
    Não foi possível completar a operação devido a uma instabilidade no servidor.<br/>
    Favor contatar o administrador caso o erro persista.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
